#up-vote, #down-vote {
  width: 6rem;
}


a {
  outline: none
}


.confirm-text {
  text-align: center;
  padding: 0.5rem;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#other-btn {
  margin-top: 10px;
}